
table {
    width: 75vw;
    border-collapse: collapse;
    margin-left: 90px;
    margin-top: 40px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding-left: 60px;
}

thead tr {
    background: #dddddd;
}
