
table {
    width: 75vw;
    border-collapse: collapse;
    margin-left: 90px;
    margin-top: 40px;
    background: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding-left: 60px;
}

thead tr {
    background: #c0c0f7;
}

thead tr th:first-child {
    border-top-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9ff;
}
